/* body {
    background: #555;
  }
  
.content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;

}

.box1{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 50px;
}

.box2{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.box3{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.box4{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.box5{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.box6{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
} */